.header {
    height: 80px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: rgb(41, 197, 221);
    padding: 10px 15px;

}


.option {
    padding: 10px 15px;
    cursor: pointer;
}
.logo{
    height: 70%;
    width: 250px;
    padding: 25px;

}
