.toBook {
    display: flex;
    flex-direction: column;
    font-family: 'Smooch Sans';
    padding-top: 1px;
    padding-bottom: 0px;
}
h1 {
    font-size: 35px;
    margin: 0px;
    padding: 0px;
    padding-left: 600px;
    font-weight: 100;
    
}
.preview {
    display: flex;
    justify-content: space-between;
}
